@media (max-width: 425px) {

    .notice{
        display: none;
    }
    body{
        height: 100vh;
    }

    #top{
        width: 100%;
        height: 20%;
        background: white;
        
        display: flex;
        justify-content: space-between;

        padding: 20px;

        #top-left{
            display: flex;
            width: 75%;

            .logo{
                margin-right: 10px;
            }
        }

        
    }

    #middle{
        width: 100%;
        height: 80%;
        background: red;

        #contact{
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            background: $gray;
            font-family: 'Open Sans', sans-serif;
            color: $blue;
            font-weight: bolder;
            padding-left: 25px;
        }
    }
}